/* Style the HTML elements according to the following instructions. 
DO NOT ALTER THE EXISTING HTML TO DO THIS.  WRITE ONLY CSS!


/* Give the <body> element a background of #0fcf90*/
body { 
    background-color : #0fcf90; 
}
/* Make the <h1> element #b9105e*/
h1 { 
    color : #b9105e; 
}
/* Make all <h2> elements orange */
h2 { 
    color : orange;
}
/* Make all <li> elements blue(pick your own hexadecimal blue)*/ 
li{
    color:#2443f0 ; 
    }

/*Change the background on every paragraph to be yellow*/
p{

    background-color: yellow;
}

/*Make all inputs have a 3px red border*/
input{
    border-width: 3px;
    border-color: red;
}

/* Give everything with the class 'hello' a white background*/
.hello{
background-color:white ;
}

/* Give the element with id 'special' a 2px solid blue border(pick your own rgb blue)*/
#special { 
    border: 2px solid rgb(40, 59, 221);
}

/*Make all the <p>'s that are nested inside of divs 25px font(font-size: 25px)*/
div p { 
    font-size: 25px;
}

/*Make only inputs with type 'text' have a gray background*/
input[type=text] {
    
    background-color: gray;
}


/* Give both <p>'s inside the 3rd <div> a pink background*/
 div:nth-of-type(3) > p{
background-color: pink;
}

/* Give the 2nd <p> inside the 3rd <div> a 5px white border*/
div:nth-of-type(3) >p:nth-child(3) {

    border-width: 5px;
    border-color: white;
    border-style: solid;

 }
/* Make the <em> in the 3rd <div> element white and 20px font(font-size:20px)*/

div:nth-of-type(3) em {
    color: white;
    font-size: 20px;
  }
